body{
	background:#999;
	font-family: arial;
}

h1,h2 {
	color: #555;
}

a {
	color: green;
}

p {
	background: white;
	color: #555;
	padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background-color: #333;
  border-radius: 15px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  border-radius: 0px;
  background-color: white;
}

nav li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
nav li:last-child a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav a:hover {
  background-color: yellow;
}

nav .active {
  background-color: #3da2d9;
}

.center {
  display: block;
  margin-left: auto; 
  margin-top:auto;
  margin-bottom:auto;
  margin-right: auto;
  width: 400px;
}

.main_landing {
  display: block;
  height: 100%;
}

@media screen and (max-width: 350px) {
  nav ul li {
    display: block;
  }

  .center {
    width: 100%;
  }
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.drop-element:hover .drop-content {
  display:block;
}
