body{
	background:#999;
	font-family: arial;
}

h1,h2 {
	color: #555;
}

a {
	color: green;
}

p {
	background: #666;
	color: white;
	padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background-color: #333;
  border-radius: 15px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  border-radius: 0px;
  background-color: white;
}

nav li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
nav li:last-child a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav a:hover {
  background-color: yellow;
}

nav .active {
  background-color: #3da2d9;
}

.center {
  display: block;
  margin-left: auto; 
  margin-top:auto;
  margin-bottom:auto;
  margin-right: auto;
  width: 30%;
}

.main_landing {
  display: block;
  height: 100%;
}