body{
	background:#999;
	font-family: arial;
}

h1,h2 {
	color: #555;
}

a {
	color: green;
}

p {
	background: #666;
	color: white;
	padding: 10px;
}

nav {
  margin-left: auto; margin-right: auto;
  width: 50%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto; 
  margin-top:auto;
  margin-bottom:auto;
  margin-right: auto;
  width: 30%;
}

.main_landing {
  display: block;
  height: 100%;
}